<div class="row">
  <div class="col-sm-12">
    <div class="dropdown">
      <button type="button" class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        manage recipe
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="toShoppingList()" appDropDown>to shopping list</a>
        <a class="dropdown-item" routerLink="edit" appDropDown>edit</a>
        <a class="dropdown-item" appDropDown>delete</a>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-sm-12">
    <img src="{{recipe.imagePath}}" alt="" class="img-responsive" style="max-height: 200px">
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h4>Name:</h4><pre>{{ recipe.name }}</pre>
  </div>
</div>
<div class="row mt-2">
  <div class="col-sm-12">
    <h4 for="description">Description:</h4>
    <pre id="description">{{recipe.description}}</pre>
  </div>
</div>
<div class="row mt-2">
  <div class="col-sm-12">
    <h4>Ingredients:</h4>
    <ul style="padding: 0;">
      <li *ngFor="let ingredient of recipe.ingredients" class="list-group-item">
      {{ingredient.name}} - {{ingredient.amount}}
      </li>
    </ul>
  </div>
</div>
